<nav id="sidebar" class="sidebar-wrapper">
    <!-- Sidebar brand start  -->
    <div class="w-100 d-flex">
        <a class="navbar-brand mx-auto flex-fill text-center" href="#" style="margin-top:20px;">
            <h5>E-Labor</h5>
        </a>
    </div>
    <hr style="margin-top:1rem;margin-bottom:0;"> <!-- Sidebar brand end  -->
    <!-- Sidebar content start -->
    <div class="sidebar-content">

        <!-- sidebar menu start -->
        <div class="sidebar-menu">
            <ul>
                <li class="header-menu">General</li>
                <li class="@(ViewContext.RouteData.Values["controller"].ToString() == "Home" && ViewContext.RouteData.Values["action"].ToString() == "Index" ? "active" : "")">
                    <a href="@Url.Action("Index", "Home")">
                        <i class="icon-devices_other"></i>
                        <span class="menu-text">Dashboard</span>
                    </a>
                </li>
                <li class="@(ViewContext.RouteData.Values["controller"].ToString() == "Profile" && ViewContext.RouteData.Values["action"].ToString() == "Index" ? "active" : "")">
                    <a href="@Url.Action("Index", "Profile")">
                        <i class="icon-user"></i>
                        <span class="menu-text">My Profile</span>
                    </a>
                </li>
                @if (User.IsInRole("Laboran"))
                {
                    <li class="@(ViewContext.RouteData.Values["controller"].ToString() == "AccountManagement" && ViewContext.RouteData.Values["action"].ToString() == "Index" ? "active" : "")">
                        <a href="@Url.Action("Index", "AccountManagement")">
                            <i class="icon-users"></i>
                            <span class="menu-text">Manage Account</span>
                        </a>
                    </li>
                }
                @if (User.IsInRole("Laboran"))
                {
                    <li class="@(ViewContext.RouteData.Values["controller"].ToString() == "Equipment" && ViewContext.RouteData.Values["action"].ToString() == "Index" ? "active" : "")">
                        <a href="@Url.Action("Index", "Equipment")">
                            <i class="icon-book-open"></i>
                            <span class="menu-text">Manage Equipment</span>
                        </a>
                    </li>
                }
                <li class="@(ViewContext.RouteData.Values["controller"].ToString() == "Loan" && ViewContext.RouteData.Values["action"].ToString() == "Index" ? "active" : "")">
                    <a href="@Url.Action("Index", "Loan")">
                        <i class="icon-folder-plus"></i>
                        <span class="menu-text">Loans</span>
                    </a>
                </li>
                <li class="@(ViewContext.RouteData.Values["controller"].ToString() == "Loan" && ViewContext.RouteData.Values["action"].ToString() == "MyLoans" ? "active" : "")">
                    <a href="@Url.Action("MyLoans", "Loan")">
                        <i class="icon-folder2"></i>
                        <span class="menu-text">My Loans</span>
                    </a>
                </li>
                @if (User.IsInRole("Laboran"))
                {
                    <li class="@(ViewContext.RouteData.Values["controller"].ToString() == "Laboran" && ViewContext.RouteData.Values["action"].ToString() == "Approvals" ? "active" : "")">
                        <a href="@Url.Action("Approvals", "Laboran")">
                            <i class=icon-file-text></i>
                            <span class="menu-text">Loan Approvals</span>
                        </a>
                    </li>
                }
                @if (User.IsInRole("Laboran"))
                {
                    <li class="@(ViewContext.RouteData.Values["controller"].ToString() == "Laboran" && ViewContext.RouteData.Values["action"].ToString() == "UserLoans" ? "active" : "")">
                        <a href="@Url.Action("UserLoans", "Laboran")">
                            <i class="icon-save2"></i>
                            <span class="menu-text">Record Loans</span>
                        </a>
                    </li>
                }

                <!-- Other items -->
            </ul>
        </div>
        <!-- sidebar menu end -->

    </div>
    <!-- Sidebar content end -->

</nav>
